In [1]:
import pandas as pd

In [ ]:
# Node List

In [2]:
nodelist = pd.read_csv('resources/quakers_nodelist.csv')
nodelist.head()

,Name,Historical Significance,Gender,Birthdate,Deathdate,ID
0,Joseph Wyeth,religious writer,male,1663,1731,10013191
1,Alexander Skene of Newtyle,local politician and author,male,1621,1694,10011149
2,James Logan,colonial official and scholar,male,1674,1751,10007567
3,Dorcas Erbery,Quaker preacher,female,1656,1659,10003983
4,Lilias Skene,Quaker preacher and poet,male,1626,1697,10011152

In [3]:
nodelist.describe()

         Birthdate    Deathdate            ID
count   119.000000   119.000000  1.190000e+02
mean   1631.327731  1700.268908  1.000708e+07
std      31.661373    30.829410  6.039569e+03
min    1551.000000  1656.000000  1.000010e+07
25%    1618.000000  1678.500000  1.000289e+07
50%    1630.000000  1696.000000  1.000678e+07
75%    1651.000000  1717.000000  1.001057e+07
max    1699.000000  1777.000000  1.005485e+07

In [4]:
# Edge List

In [5]:
edgelist = pd.read_csv('resources/quakers_edgelist.csv')
edgelist.head()

         Source                                         Target
0  George Keith                                 Robert Barclay
1  George Keith                                 Benjamin Furly
2  George Keith  Anne Conway Viscountess Conway and Killultagh
3  George Keith               Franciscus Mercurius van Helmont
4  George Keith                                   William Penn

In [6]:
edgelist.describe()

            Source        Target
count          174           174
unique          78            77
top     George Fox  William Penn
freq            17            11